.whole {
	width: 100vw;
	height: 100vh;
	background-color: rgba(85, 86, 87, 0.872);
	display: flex;
	justify-content: center;
	align-items: center;
}

.header,
.body,
.footer {
	width: 27rem;
	height: 4rem;
	background-color: rgb(40, 40, 67);
}

.header {
	border-radius: 10px 10px 0 0;
}

.body {
	height: 20rem;
	background-color: rgb(63, 63, 69);
	padding: 1rem 0;
}

.footer {
	border-radius: 0 0 10px 10px;
}

.header_dark,
.footer_dark {
	background-color: rgb(243, 243, 243);
}

.body_dark {
	background-color: rgb(255, 255, 255);
}
