.headers {
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
}

.header {
	font-size: 1.5rem;
	color: orange;
}

.header span {
	margin: 0 0.5rem;
	cursor: pointer;
}

.borderBottom {
	border-bottom: 1px solid #c4d8ff;
}
