.wrapSearch {
	padding: 1rem;
	width: 25rem;
	height: 2rem;
	display: flex;
	justify-content: center;
}

.search,
.add {
	display: flex;
	align-items: center;
	font-weight: 500;
}

.search {
	background-color: #fff;
	width: 80%;
	border-radius: 5px 0 0 5px;
	border: none;
	outline: none;
	color: rgb(179, 179, 190);
	padding-left: 1rem;
	font-size: 1rem;
}

.add {
	cursor: pointer;
	background-color: orange;
	border-radius: 0 5px 5px 0;
	justify-content: center;
	width: 20%;
	color: white;
	font-size: 1rem;
	border: none;
	outline: none;
}
